/*  ABOUT PAGE RULES  */
#bio-img {
	margin: 10px 25px 10px 0px;
	height: 200px;
	width: 200px;
}

#bio-text {
	line-height: 2em;
}


@media screen and (max-width: 980px) {
	#bio-img {
		height: 360px;
		width: 360px;
		float: none;
	}
}

@media screen and (max-width: 768px) {
	#bio-img {
		height: 200px;
		width: 200px;
		float: left;
	}
}

@media screen and (max-width: 640px) {
	#bio-img {
		height: 200px;
		width: 200px;
		float: none;
	}
}
