* {
	color: #777777;
}


html, body {
	height: 100%;
}

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url("../images/concrete_seamless.png");
	display: flex;
	flex-direction: column;
}

.clearfix::after {
	display: block;
	content: "";
	clear: both;
	overflow: auto;
}

.teal-text {
	color: #4aaaa5;
}

.teal-background {
	color: #ffffff;
	background-color: #4aaaa5;
}

.white-background {
	background-color: #ffffff;
}

.float-left {
	float: left;
}

.auto-margin {
	margin: auto;
}


/*  HEADER RULES  */
#main-header {
	height: 90px;
	width: 100%;
	min-width: 960px;
	line-height: 90px;
	margin-bottom: 38px;
	border-bottom: 2px solid #cccccc;
}

h1, h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1em; }
h5 { font-size: 0.83em; }
h6 { font-size: 0.67em; }

#head-wrapper {
	height: 100%;
	width: 960px;
	position: relative;
}

#title {
	text-align: center;
	width: 280px;
}

#header-links {
	position: absolute;
	right: 0;
}

#header-links a {
	text-decoration: none;
}

#header-links a:nth-child(2) {
	margin: 0px 20px;
	padding: 0px 20px;
	border-right: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
}


/*  MAIN CONTENT SECTION RULES  */
.wrapper {
	width: 960px;
	position: relative;
	flex: 1 0 auto;
}

#content {
	width: 650px; 
	border: 1px solid #dddddd;
	box-sizing: border-box;
	padding: 30px;
}

#content-head {
	padding-bottom: 30px;
	margin-bottom: 20px;
	border-bottom: 3px solid #dddddd;
}


/*  CONNECT WITH ME SECTION RULES  */
#profile-links-wrapper {
	padding: 30px;
	width: 270px;
	border: 1px solid #dddddd;
	box-sizing: border-box;
	position: absolute;
	right: 0;
}

#profile-links-head {
	font-size: 22px;
	padding-bottom: 24px;
	margin-bottom: 24px;
	border-bottom: 2px solid #dddddd;
}

#profile-links-wrapper img {
	width: 62px;
	height: 62px;
	vertical-align: bottom;
}

#link-logo {
	margin: 0px 11px;
}


/*  FOOTER RULES  */
footer {
	height: 94px;
	width: 100%;
	min-width: 960px;
	margin-top: 30px;
	border-top: 8px solid #4aaaa5;
	background-color: #666666;
}

#footer-wrapper {
	text-align: center;
}

#copyright {
	color: #c1c0c0;
	line-height: 94px;
}
